body {
  color:#e6acc1;
  background-color:#4a4a4a;
  font-family: 'Roboto', sans-serif;
  a {
    color: #e6acc1;
  }
}
a:hover {
  text-decoration: none; /* No underlining when hovering over a link */
}
a:hover,
a:focus {
  text-decoration: none;
}

.button {
  color: #4a4a4a;
  background-color: #e6acc1;
  font-size: 14px;
  padding: 7px 20px;
  border-radius: 4px;
  margin: 15px 0;
  max-width: fit-content;
  display: block;
  text-decoration: none;
}

h1 {
  font-size:30px;
}
h2 {
  font-size:25px;
}
h3 {
  font-size: 15px;
}
/* Layout styling */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px  /* No spacing to top and bottom and auto spacing to left and right */
}
  .column-4{
  width: 24%;
  display: inline-block;
}
.column-4 {
  width: 24%;
  display: inline-block;
  margin-right: 1%;
}
.columns-container {
  font-size: 0;
}
.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
}
img {
    width: 100px;
    height: 100px;
}
.navigation {
  list-style-type: none;
  padding: 0;
}
.navigation > li {
  display: inline-block;
  margin-left: 10px;
}
.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}
button, /* Applies for buttons in a form */
.button {/* Applies for links with the button class */
    border: none;
    font-family: inherit;
    background-color: #e6acc1;
    color: white !important;
    text-decoration:none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #e6acc1;
    transition-duration: 0.2s;
    transition-property: opacity;
}
@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
